@inherits LayoutComponentBase
@layout AccountLayout

<div class="main-bg-color">
    <h2 class="red-color-app">Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
